// Colors

//Light theme
$light-background: #e0e1dd;
$light-surface: #b5d9e0;
$light-text-primary: #0d1b2a;
$light-text-secondary: #1b263b;
$light-primary: #778da9;
$light-primary-variant: #415a77;
$light-secondary: #00b4d8;
$light-secondary-variant: #0096c7;
$light-success: #85BB65;
$light-warning: #FFAA00;
$light-error: #B22222;
$light-card-background: #F5F1ED;
$light-border: #DED6D1;
$light-icon-color: #B28C2F;
$light-toggle-bg: #dbd2b5;
$light-toggle-thumb: #691c7b;


//Dark theme

$dark-background: #1c1f30;
$dark-surface: #202334;
$dark-text-primary: #e0e1dd;
$dark-text-secondary: #BDBDBD;
$dark-primary: #292c3e;
$dark-primary-variant: #778da9;
$dark-secondary: #808080;
$dark-secondary-variant: #696969;
$dark-success: #32CD32;
$dark-warning: #FF8C00;
$dark-error: #DC143C;
$dark-card-background: #222222;
$dark-border: #691c7b;
$dark-icon-color: #210d69;
$dark-toggle-bg: #333333;
$dark-toggle-thumb: #ea90ff;



// Mixin para aplicar estilos según el tema
@mixin theme($background, $surface, $text-primary, $text-secondary, $primary, $primary-variant, $secondary, $secondary-variant, $success, $warning, $error, $card-background, $border, $icon-color, $toggle-bg, $toggle-thumb) {
    --background: #{$background};
    --surface: #{$surface};
    --text-primary: #{$text-primary};
    --text-secondary: #{$text-secondary};
    --primary: #{$primary};
    --primary-variant: #{$primary-variant};
    --secondary: #{$secondary};
    --secondary-variant: #{$secondary-variant};
    --success: #{$success};
    --warning: #{$warning};
    --error: #{$error};
    --card-background: #{$card-background};
    --border: #{$border};
    --icon-color: #{$icon-color};
    --toggle-bg: #{$toggle-bg};
    --toggle-thumb: #{$toggle-thumb};
}

//Estilo por defecto (light)
:root {
    @include theme($light-background, $light-surface, $light-text-primary, $light-text-secondary, $light-primary, $light-primary-variant, $light-secondary, $light-secondary-variant, $light-success, $light-warning, $light-error, $light-card-background, $light-border, $light-icon-color, $light-toggle-bg, $light-toggle-thumb);
}

//Estilo por defecto (dark)

[data-theme="dark"] {
    @include theme($dark-background, $dark-surface, $dark-text-primary, $dark-text-secondary, $dark-primary, $dark-primary-variant, $dark-secondary, $dark-secondary-variant, $dark-success, $dark-warning, $dark-error, $dark-card-background, $dark-border, $dark-icon-color, $dark-toggle-bg, $dark-toggle-thumb);
}
