@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');
@import '../colors.scss';

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.contactTitle{
    font-family: "Space Grotesk", serif;
    color: var(--text-primary);
    justify-self: center;
    font-size: 1.8rem;
    height: 100px;
}

.contactFormWrapper{
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-self: center;
}

.contactForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    label{
        font-family: "Space Grotesk", serif;
        color: var(--text-primary);
        font-size: 1.2rem;
        margin: 10px 0px;
    }
    input{
        font-family: "Montserrat", sans-serif;
        color: var(--text-primary);
        width: 500px;
        border: none;
        padding: 10px;
        border-radius: 5px;
        background: var(--surface);
    }
    textarea{
        width: 500px;
        font-family: "Montserrat", sans-serif;
        color: var(--text-primary);
        border: none;
        padding: 10px;
        border-radius: 5px;
        background: var(--surface);
    }

    p{
        font-family: "Montserrat", sans-serif;
        color: var(--text-primary);
    }

    button{
        font-family: "Montserrat", sans-serif;
        color: var(--text-primary);
        border: solid 1px var(--primary);
        padding: 10px;
        border-radius: 5px;
        background: var(--surface);
        margin-top: 20px;
        width: 200px;
        cursor: pointer;
    }
}
@media (max-width: 1250px) {
    .contactTitle{
        font-size: 1.3em;
        padding-top: 20px;
    }

    .contactFormWrapper{
        width: 90%;
    }

    .contactForm{
        input{
            width: 300px;
        }
        textarea{
            width: 300px;
        }
    }
}