@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import '../../../colors.scss';

body{
    background: var(--card-background);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'space grotesk', serif;
}

.coursesWrapper{
    display: flex;
    flex-wrap: wrap;
    color: var(--text-primary);
    align-items: center;
    .cardwrapper{
        grid-column: 2;
        display: flex;
    }
}

.card{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 300px;
    margin: 40px;
    border: 2px solid var(--primary-variant);
    border-radius: 10px;
}

.card-header{
    border-bottom: 1px solid var(--primary-variant);
    h4{
        font-family: "Roboto Mono", serif;
        font-weight: 300;
        font-size: 0.8em;
        text-transform: uppercase;
        letter-spacing: 5px;
        padding: 0 30px;
    }
}

.card-body{
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    font-family: "Source Code Pro", serif;
}

.btnCourse{
    
    background: var(--secondary);
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: var(--text-primary);
    transition: background 0.3s ease-in-out;
    z-index: 0;

    &:hover {
        background-color: var(--toggle-thumb);
    }

    &::after {
        z-index: 1;
        content: attr(data-tooltip);
        opacity: 0;
        white-space: nowrap;
        transition: opacity 0.3s ease-in-out;
    }

    &:hover::after {
        opacity: 1;
    }

    span {
        transition: opacity 0.3s ease-in-out;
    }

    &:hover span {
        opacity: 0;
    }
}

@media (max-width: 1250px){
    .container{
        display: flex;
        
    }
    .cardwrapper{
        flex-direction: column;
    }
    .card{
        width: 250px;
    }
}
    
