@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');
@import '../../colors.scss';

.blogContainer {
    color: var(--text-primary);
    font-family: "Space Grotesk", serif;
    width: 60%;
    justify-self: center;
    margin-top: 50px;
}

.blogCategory{
    font-size: 0.6em;
    padding: 10px;
    color: var(--text-primary);
    border-radius: 10px;
    text-transform: uppercase;
}

.blogTitle{
    font-size: 2.5em;
    margin: 20px 0;
}

.blogImage{
    width: 40vw;
    margin: 20px 0;
    }

.blogCreatedAt{
    text-transform: lowercase;
}

.blogBody{
    text-align: justify;
}

.title{
    font-family: "Space Grotesk", serif;
}

.inputComment{
    display: flex;
    align-items: center;
    img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        background: var(--secondary);
        margin: 10px;
    }
    textarea{
        border: none;
        border-bottom: 1px solid var(--secondary);
        background: none;
        width: 55vw;
        padding: 10px;
        margin-right: 10px;
        
    }
    button{
        border: none;
        background: var(--secondary);
        color: var(--text-primary);
        padding: 10px;
        border-radius: 10px;
        transition: 0.3s;
    }
    button:hover{
        background: var(--border);
    }
}

.comments{
    list-style: none;
    padding: 0;
    
    
}

.comment{
    display: flex;
    width: 900px;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid var(--primary);
    img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        background: var(--secondary);
        margin: 10px;
    }
    .commentBody{
        width: 700px;
    }
}

.likeButton{
    background: none;
    border: none;
}
.like{
    color: var(--error);
    font-size: 1.4em;
    
}

.dislike{
    font-size: 1.4em;
}

@media (max-width: 1250px){
    .blogContainer{
        width: 90vw;
        img{
            width: 90vw;
        }
    }

    .blogTitle{
        font-size: 1.2em;
    }
    .inputComment{
        display: flex;
        align-items: center;
        img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
            background: var(--secondary);
            margin: 10px;
        }
        textarea{
            border: none;
            border-bottom: 1px solid var(--secondary);
            background: none;
            width: 60vw;
            
        }
        button{
            border: none;
            background: var(--secondary);
            color: var(--text-primary);
            padding: 10px;
            border-radius: 10px;
            transition: 0.3s;
        }
        button:hover{
            background: var(--border);
        }
    }
    
    .comments{
        list-style: none;
        padding: 0;
        
        
    }
    
    .comment{
        display: flex;
        width: 90vw;
        align-items: center;
        font-size: 0.7em;
        padding: 10px 0;
        border-bottom: 1px solid var(--primary);
        img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
            background: var(--secondary);
            margin: 10px;
        }
        .commentBody{
            width: 700px;
        }
    }

    
}