@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');
@import '../../colors.scss';

body{
    background: var(--card-background);
}

.container{
    margin: 30px;
    color: var(--text-primary);
    font-family: 'montserrat', sans-serif;
    h2{
        font-weight: 400;
        margin: 40px 0;
        
    }
    table{
        
        width: 70vw;
        td{
            color: var(--text-primary);
            text-align: center;
            padding: 20px 10px;
            border-bottom: 1px solid var(--secondary);
            a{
                text-decoration: none;
                color: var(--text-primary);
            }
            
        }
    }
}

@media (max-width: 1250px){
    .container{
        margin: 10px;
        table{
            th{
                font-size: 0.7em;
            }
            td{
                font-size: 0.6em;
            }
        }
    }
}

