@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');
@import '../../colors.scss';

body{
    background: var(--card-background);
}

.formWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Space Grotesk", serif;
    color: var(--text-primary);
}

.formCreate{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Space Grotesk", serif;
    color: var(--text-primary);
    
}

.formLabel{
    padding: 10px;
}

.formInput{
    border: none;
    padding: 10px;
    width: 600px;
}

.formText{
    border: none;
    padding: 10px;
    width: 600px;
    height: auto;
}

.formButton{
    padding: 10px;
    border: none;
    background: var(--primary-variant);
    color: var(--background);
    font-family: "Space Grotesk", serif;
    margin: 20px;
    cursor: pointer;
}

.btnBack{
    grid-column: 1;
    border: 1px solid var(--text-primary);
    border-radius: 5px;
    color: var(--text-primary);
    padding: 10px;
    position: absolute;
    top: 60px;
    right: 200px;
    font-family: "Space Grotesk", serif;
    width: 50px;
    cursor: pointer;
    text-align: center;
}